@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Sora", ui-sans-serif, system-ui, sans-serif;
}

canvas {
  display: block;
}
